header{
  &.top-navigation{

    .dropdown-menu{
      margin-top: 1rem;
    }

    .search-navbar {
      .select2-selection .select2-selection--single {
        border-radius: 16px;
      }

      .select2-container--krajee-bs5 .select2-selection {
        background-color: transparent;
        border-radius: 16px;
      }

      .select2-container--krajee-bs5 .select2-selection--single .select2-selection__rendered {
        color: #212529;
        padding-left: 8px;
        padding-right: 8px;
      }
    }

    .navbar-toggler{
      border: none;
    }

  }
}   