.text-start {
  text-align: left !important;
}

.text-center {
  text-align: center !important;
}

.text-end {
  text-align: right !important;
}

.border-bottom {
  border: 1px !important;
}

.border-0 {
  border: 0 !important;
}

.border-start-0 {
  border-left: 0 !important;
}

.border-end-0 {
  border-right: 0 !important;
}

.border-top-0 {
  border-top: 0 !important;
}

.border-bottom-0 {
  border-bottom: 0 !important;
}

.p-0 {
  padding: 0;
}

.m-0 {
  margin: 0;
}

.mt-1 {
  margin-top: 1rem !important;
}

.mt-2 {
  margin-top: 1.5rem !important;
}

.mt-3 {
  margin-top: 1.5rem !important;
}

.mt-5 {
  margin-top: 2.5rem !important;
}

.font-weight-bold {
  font-weight: bold;
}

.text-nowrap {
  white-space: nowrap;
}