@use "vars";
/* all screen include ipad mini */
@media only screen and (min-width: 768px) {
  body {
    main {
      aside {
        &.left-navigation {
          width: 200px;
          min-height: 100vh;
          z-index: 1;
          border-right: 1px solid vars.$gray-200;
        }
      }
    }
  }
}

/* Mainstream tablet */
@media (max-width: 767px) {
  body{
    main{
      aside {
        &.left-navigation {
          width: 0;
          min-height: 100vh;
          z-index: 1;
          border-right: none;
        }
      }

      section.content {
        margin-left: 0;
      }
    }

    footer {
      margin-left: 0;
    }
  }
 
}